# UT2 · 03 Listas y tuplas

1. Listas



Una lista es una secuencia ordenada de objetos de distintos tipos.

In [ ]:
Se construyen poniendo los elementos entre corchetes [ ] separados por comas.
#

Se caracterizan por:



Tienen orden.



Pueden contener elementos de distintos tipos.



Son mutables, es decir, pueden alterarse durante la ejecución de un programa.

In [ ]:
# Lista vacía
#
type([])
#
<class 'list'>
#
# Lista con elementos de distintos tipos
#
[1, "dos", True]
#
# Listas anidadas
#
[1, [2, 3], 4]
#

1.1. Creación de listas mediante la función list()



Otra forma de crear listas es mediante la función list().







list(c) : Crea una lista con los elementos de la secuencia o colección c.







Se pueden indicar los elementos mediante una cadena o mediante una colección de elementos iterables.

In [ ]:
list()
#
[]
#
list("Python")
#
['P', 'y', 't', 'h', 'o', 'n']
#

1.2. Acceso a los elementos de una lista



Se utilizan los mismos operadores de acceso que para cadenas de caracteres.







lst[i] : Devuelve el elemento de la lista lst con el índice i.
> **Ojo:** El índice del primer elemento de la lista es 0.

In [ ]:
a = ['P', 'y', 't', 'h', 'o', 'n']
#
a[0]
#

'P'

In [ ]:
a[5]
#

'n'

In [ ]:
a[6]
#
Traceback (most recent call last):
#
File "<stdin>", line 1, in <module>
#

IndexError: list index out of range

In [ ]:
a[-1]
#

'n'







1.3. Sublistas



l[i:j:k] : Devuelve la sublista desde el elemento de l con el índice i hasta el elemento anterior al índice j, tomando elementos cada k.

In [ ]:
a = ['P', 'y', 't', 'h', 'o', 'n']
#
a[1:4]
#
['y', 't', 'h']
#
a[1:1]
#
[]
#
a[:-3]
#

['P', 'y', 't']

[‘P’, 'y', 't', 'h']

In [ ]:
a[:]
#
['P', 'y', 't', 'h', 'o', 'n']
#
a[0:6:2]
#
['P', 't', 'o']
#

1.4. Operaciones que no modifican una lista



len(lst) : Devuelve el número de elementos de la lista lst.



min(lst) : Devuelve el mínimo elemento de la lista lst siempre que los datos sean comparables.



max(lst) : Devuelve el máximo elemento de la lista lst siempre que los datos sean comparables.

In [ ]:
sum(lst) : Devuelve la suma de los elementos de la lista lst, siempre que los datos se puedan sumar.
#

dato in lst : Devuelve True si el dato pertenece a la lista lst y False en caso contrario.



lst.index(dato) : Devuelve la posición que ocupa en la lista lst el primer elemento con valor dato.



lst.count(dato) : Devuelve el número de veces que el valor dato está contenido en la lista lst.

In [ ]:
all(lst) : Devuelve True si todos los elementos de la lista lst son True y False en caso contrario.
#

any(lst) : Devuelve True si algún elemento de la lista lst es True y False en caso contrario.

In [ ]:
a = [1, 2, 2, 3]
#
len(a)
#

4

In [ ]:
min(a)
#

1

In [ ]:
max(a)
#

3

In [ ]:
sum(a)
#

8

In [ ]:
3 in a
#

True

In [ ]:
a.index(2)
#

1

In [ ]:
a.count(2)
#

2

In [ ]:
all(a)
#

True

In [ ]:
any([0, False, 3<2])
#

False







1.5. Operaciones que modifican una lista

In [ ]:
l1 + l2 : Crea una nueva lista concatenan los elementos de la listas l1 y l2.
#

l.append(dato) : Añade dato al final de la lista l.



l.extend(secuencia) : Añade los datos de secuencia al final de la lista l.



l.insert(índice, dato) : Inserta dato en la posición índice de la lista l y desplaza los elementos una posición a partir de la posición índice.



l.remove(dato) : Elimina el primer elemento con valor dato en la lista l y desplaza los que están por detrás de él una posición hacia delante.



l.pop([índice]) : Devuelve el dato en la posición índice y lo elimina de la lista l, desplazando los elementos por detrás de él una posición hacia delante.

In [ ]:
l.sort() : Ordena los elementos de la lista l de acuerdo al orden predefinido, siempre que los elementos sean comparables.
#
l.reverse() : invierte el orden de los elementos de la lista l.
#

In [ ]:
a = [1, 3]
#
b = [2 , 4, 6]
#
a.append(5)
#
a
#
[1, 3, 5]
#
a.remove(3)
#
a
#
[1, 5]
#
a.insert(1, 3)
#
a
#
[1, 3, 5]
#
b.pop()
#

6

In [ ]:
c = a + b
#
c
#
[1, 3, 5, 2, 4]
#
c.sort()
#
c
#
[1, 2, 3, 4, 5]
#
c.reverse()
#
c
#
[5, 4, 3, 2, 1]
#

1.6. Copia de listas



Existen dos formas de copiar listas:



Copia por referencia l1 = l2: Asocia a la variable l1 la misma lista que tiene asociada la variable l2, es decir, ambas variables apuntan a la misma dirección de memoria. Cualquier cambio que hagamos a través de l1 o l2 afectará a la misma lista.



Copia por valor l1 = list(l2): Crea una copia de la lista asociada a l2 en una dirección de memoria diferente y se la asocia a l1. Las variables apuntan a direcciones de memoria diferentes que contienen los mismos datos. Cualquier cambio que hagamos a través de l1 no afectará a la lista de l2 y viceversa.

In [ ]:
a = [1, 2, 3]
#
# copia por referencia
#
b = a
#
b
#
[1, 2, 3]
#
b.remove(2)
#
b
#
[1, 3]
#
a
#
[1, 3]
#

In [ ]:
a = [1, 2, 3]
#
# copia por valor
#
b = list(a)
#
b
#
[1, 2, 3]
#
b.remove(2)
#
b
#
[1, 3]
#
a
#
[1, 2, 3]
#

2. Tuplas



Una tupla es una secuencias ordenadas de objetos de distintos tipos.







Se construyen poniendo los elementos entre paréntesis ( ) separados por comas.







Se caracterizan por:



Tienen orden.



Pueden contener elementos de distintos tipos.



Son inmutables, es decir, no pueden alterarse durante la ejecución de un programa.







Se usan habitualmente para representar colecciones de datos de una determinada estructura semántica, como por ejemplo un vector o una matriz.

In [ ]:
# Tupla vacía
#
type(())
#
<class 'tuple'>
#
# Tupla con elementos de distintos tipos
#
(1, "dos", True)
#
# Vector
#
(1, 2, 3)
#
# Matriz
#
((1, 2, 3), (4, 5, 6))
#

2.1. Creación de tuplas mediante la función tuple()



Otra forma de crear tuplas es mediante la función tuple().







tuple(c) : Crea una tupla con los elementos de la secuencia o colección c.







Se pueden indicar los elementos separados por comas, mediante una cadena, o mediante una colección de elementos iterables.

In [ ]:
tuple()
#
()
#
tuple(1, 2, 3)
#
(1, 2, 3)
#
tuple("Python")
#
('P', 'y', 't', 'h', 'o', 'n')
#
tuple([1, 2, 3])
#
(1, 2, 3)
#

2.2. Operaciones con tuplas



El acceso a los elementos de una tupla se realiza del mismo modo que en las listas. También se pueden obtener sub-tuplas de la misma manera que las sub-listas.







Las operaciones de listas que no modifican la lista también son aplicables a las tuplas.

In [ ]:
a = (1, 2, 3)
#
a[1]
#

2

In [ ]:
len(a)
#

3

In [ ]:
a.index(3)
#

2

In [ ]:
0 in a
#

False

In [ ]:
b = ((1, 2, 3), (4, 5, 6))
#
b[1]
#
(4, 5, 6)
#
b[1][2]
#

6