# UT2 · 01 Tipos de datos simples

1. Tipos de datos primitivos simples

In [ ]:
2. Tipos de datos primitivos compuestos (contenedores)2
#
3. Clase de un dato (type())2
#

4. Números (clases int y float)3



5. Operadores aritméticos3



6. Operadores lógicos con números4



7. Datos lógicos o booleanos (clase bool)4



7.1 Operaciones con valores lógicos4



8. Conversión de datos primitivos simples5



9. Variables6

In [ ]:
10. Entrada por terminal (input())7
#
11. Salida por terminal (print())7
#

Tipos de datos primitivos simples



Números (numbers): Secuencia de dígitos (pueden incluir el - para negativos y el . para decimales) que representan números.

In [ ]:
Ejemplo. 0, -1, 3.1415.
#

Cadenas (strings): Secuencia de caracteres alfanuméricos que representan texto. Se escriben entre comillas simples o dobles.



Ejemplo. ‘Hola’, “Adiós”.



Booleanos (boolean): Contiene únicamente dos elementos True y False que representan los valores lógicos verdadero y falso respectivamente.







Estos datos son inmutables, es decir, su valor es constante y no puede cambiar.

In [ ]:
Tipos de datos primitivos compuestos (contenedores)
#
Listas (lists): Colecciones de objetos que representan secuencias ordenadas de objetos de distintos tipos. Se representan con corchetes y los elementos se separan por comas.
#

Ejemplo. [1, “dos”, [3, 4], True, “True”, 1.52].



Tuplas (tuples). Colecciones de objetos que representan secuencias ordenadas de objetos de distintos tipos. A diferencia de las listas son inmutables, es decir, que no cambian durante la ejecución. Se representan mediante paréntesis y los elementos se separan por comas.



Ejemplo. (1, ‘dos’, 3)

In [ ]:
Diccionarios (dictionaries): Colecciones de objetos con una clave asociada. Se representan con llaves, los pares separados por comas y cada par contiene una clave y un objeto asociado separados por dos puntos.
#

Ejemplo. {‘pi’:3.1416, ’e’:2.718}.

In [ ]:
Clase de un dato (type())
#
La clase a la que pertenece un dato se obtiene con el comando type()
#

In [ ]:
type(1)
#
<class 'int'>
#
type("Hola")
#
<class 'str'>
#
type([1, "dos", [3, 4], True])
#
<class 'list'>
#
ype({'pi':3.1416, 'e':2.718})
#
<class 'dict'>
#
ype((1, 'dos', 3))
#
<class 'tuple'>
#

Números (clases int y float)



Secuencia de dígitos pueden incluir el - [menos], para negativos, y el . [punto], para decimales que representan números. Pueden ser enteros (int) o reales (float).

In [ ]:
type(1)
#
<class 'int'>
#
type(-2)
#
<class 'int'>
#
type(2.3)
#
<class 'float'>
#

Operadores aritméticos



Operadores aritméticos: + (suma), - (resta), * (producto), / (cociente), // (cociente división entera), % (resto división entera), ** (potencia).







Orden de prioridad de evaluación:







Funciones predefinidas



Potencias



Productos y cocientes



Sumas y restas







Se puede saltar el orden de evaluación utilizando paréntesis ( ).

In [ ]:
2+3
#

5

In [ ]:
5*-2
#
-10
#
5/2
#

2.5

In [ ]:
5//2
#

2

In [ ]:
(2+3)**2
#

25







Operadores lógicos con números



Devuelven un valor lógico o booleano.







Operadores lógicos: == (igual que), > (mayor que), < (menor que), >= (mayor o igual que), <= (menor o igual que), != (distinto de).

In [ ]:
3==3
#

True

In [ ]:
3.1<=3
#

False

In [ ]:
-1!=1
#

True







Datos lógicos o booleanos (clase bool)



Contiene únicamente dos elementos True y False que representan los valores lógicos verdadero y falso respectivamente.







False tiene asociado el valor 0 y True tiene asociado el valor 1.



7.1 Operaciones con valores lógicos



Operadores lógicos: == (igual que), > (mayor), < (menor), >= (mayor o igual que), <= (menor o igual que), != (distinto de).



not b (negación) : Devuelve True si el dato booleano b es False , y False en caso contrario.



b1 and b2 : Devuelve True si los datos booleanos b1 y b2 son True, y False en caso contrario.



b1 or b2 : Devuelve True si alguno de los datos booleanos b1 o b2 son True, y False en caso contrario.







Tabla de verdad



x



y



not x



x and y



x or y



False



False



True



False



False



False



True



True



False



True



True



False



False



False



True



True



True



False



True



True

In [ ]:
not True
#

False

In [ ]:
False or True
#

True

In [ ]:
True and False
#

False

In [ ]:
True and True
#

True







Conversión de datos primitivos simples



Las siguientes funciones convierten un dato de un tipo en otro, siempre y cuando la conversión sea posible.

In [ ]:
int() convierte a entero.
#
Ejemplo. int('12')  12
#
int(True)  1
#
int('c')  Error
#
float() convierte a real.
#
Ejemplo. float('3.14')  3.14
#
float(True)  1.0
#
float('III')  Error
#
str() convierte a cadena.
#
Ejemplo. str(3.14)  '3.14'
#
str(True)  'True'
#

bool() convierte a lógico.

In [ ]:
Ejemplo. bool('0')  False
#
bool('3.14')  True
#
bool('')  False
#
bool('Hola')  True
#

Variables



Una variable es un identificador ligado a algún valor.







Reglas para nombrarlas:







Comienzan siempre por una letra, seguida de otras letras o números.

In [ ]:
# Válido
#
_variable = 10
#
vari_able = 20
#
variable10 = 30
#
variable = 60
#
variaBle = 10
#

In [ ]:
# No válido
#
2variable = 10
#
var-iable = 10
#
var iable = 10
#

No se pueden utilizar palabras reservadas del lenguaje.

In [ ]:
import keyword
#
print(keyword.kwlist)
#

In [ ]:
# ['False', 'None', 'True', 'and', 'as', 'assert',
#
# 'async', 'await', 'break', 'class', 'continue',
#
# 'def', 'del', 'elif', 'else', 'except', 'finally',
#
# 'for', 'from', 'global', 'if', 'import', 'in', 'is',
#
# 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise',
#
# 'return', 'try', 'while', 'with', 'yield'
#

A diferencia de otros lenguajes no tienen asociado un tipo y no es necesario declararlas antes de usarlas (tipado dinámico).







Para asignar un valor a una variable se utiliza el operador = y para borrar una variable se utiliza la instrucción del.

In [ ]:
lenguaje = 'Python'
#
x = 3.14
#
y = 3 + 2
#
# Asignación múltiple
#
a1, a2 = 1, 2
#
# Intercambio de valores
#
a, b = b, a
#
# Incremento (equivale a x = x + 2)
#
x += 2
#
# Decremento (equivale a x = x - 1)
#
x -= 1
#
# Valor no definido
#
x = None
#

del x

In [ ]:
Entrada por terminal (input())
#

Para asignar a una variable un valor introducido por el usuario en la consola se utiliza la instrucción

In [ ]:
input(mensaje) : Muestra la cadena mensaje por la terminal y devuelve una cadena con la entrada del usuario.
#

> **Ojo:** El valor devuelto siempre es una cadena, incluso si el usuario introduce un dato numérico.

In [ ]:
language = input('¿Cuál es tu lenguaje favorito? ')
#

¿Cuál es tu lenguaje favorito? Python

In [ ]:
language
#

'Python'

In [ ]:
age = input('¿Cuál es tu edad? ')
#

¿Cuál es tu edad? 20

In [ ]:
age
#

'20'

In [ ]:
Salida por terminal (print())
#

Para mostrar un dato por la terminal se utiliza la instrucción

In [ ]:
print(dato1, ..., sep=' ', end='\n', file=sys.stdout)
#

donde







dato1, … : son los datos a imprimir y pueden indicarse tantos como se quieran separados por comas.



sep : establece el separador entre los datos, que por defecto es un espacio en blanco ' '.



end : indica la cadena final de la impresión, que por defecto es un cambio de línea \n.



file : indica la dirección del flujo de salida, que por defecto es la salida estándar sys.stdout.

In [ ]:
print('Hola')
#

Hola

In [ ]:
name = 'Pedro'
#
print('Hola', name)
#

Hola Pedro

In [ ]:
print('El valor de pi es', 3.1415)
#

El valor de pi es 3.1415

In [ ]:
print('Hola', name, sep='')
#

HolaPedro

In [ ]:
print('Hola', name, end='!\n')
#

Hola Pedro!