# UT2 · 01 Cadenas

In [ ]:
Cadenas (clase str)
#

Secuencia de caracteres alfanuméricos que representan texto. Se escriben entre comillas sencillas ’ ‘ o dobles “ “.







'Python'



"123"



'True'

In [ ]:
# Cadena vacía
#

''

In [ ]:
# Cadena con un espacio en blanco
#

' '

In [ ]:
# Cambio de línea
#

'\n'

In [ ]:
# Tabulador
#

'\t'



1. Acceso a los elementos de una cadena



Cada carácter tiene asociado un índice que permite acceder a él.







Cadena



P



y



t



h



o



n



Cadena



0



1



2



3



4



5



Índice negativo

In [ ]:
-6
#
-5
#
-4
#
-3
#
-2
#
-1
#

c[i] devuelve el carácter de la cadena c con el índice i.
> **Ojo:** El índice del primer carácter de la cadena es 0.







También se pueden utilizar índices negativos para recorrer la cadena del final al principio.
> **Ojo:** El índice del último carácter de la cadena es -1.

In [ ]:
'Python'[0]
#

'P'

In [ ]:
'Python'[1]
#

'y'

In [ ]:
'Python'[-1]
#

'n'

In [ ]:
'Python'[6]
#
Traceback (most recent call last):
#
File "<stdin>", line 1, in <module>
#

IndexError: string index out of range



2. Subcadenas



c[i:j:k] : Devuelve la subcadena de c desde el carácter con el índice i hasta el carácter anterior al índice j, tomando caracteres cada k.

In [ ]:
'Python'[1:4]
#

'yth'

In [ ]:
'Python'[1:1]
#

''

In [ ]:
'Python'[2:]
#

'thon'

In [ ]:
'Python'[:-2]
#

'Pyth'

In [ ]:
'Python'[:]
#

'Python'

In [ ]:
'Python'[0:6:2]
#

'Pto'



3. Operaciones con cadenas

In [ ]:
c1 + c2 : Devuelve la cadena resultado de concatenar las cadenas c1 y c2.
#
c * n : Devuelve la cadena resultado de concatenar n copias de la cadena c.
#

c1 in c2 : Devuelve True si c1 es una cadena contenida en c2 y False en caso contrario.



c1 not in c2 : Devuelve True si c1 es una cadena no contenida en c2 y False en caso contrario.

In [ ]:
'No me gusta ' + 'Python'
#

'No me gusta Python'

'Me gusta Python'

In [ ]:
'Python' * 3
#

'PythonPythonPython'

In [ ]:
'y' in 'Python'
#

True

In [ ]:
'tho' in 'Python'
#

True

In [ ]:
'to' not in 'Python'
#

True



4. Operaciones de comparación de cadenas

In [ ]:
c1 == c2 : Devuelve True si la cadena c1 es igual que la cadena c2 y False en caso contrario.
#
c1 > c2 : Devuelve True si la cadena c1 sucede a la cadena c2 y False en caso contrario.
#
c1 < c2 : Devuelve True si la cadena c1 antecede a la cadena c2 y False en caso contrario.
#
c1 >= c2 : Devuelve True si la cadena c1 sucede o es igual a la cadena c2 y False en caso contrario.
#
c1 <= c2 : Devuelve True si la cadena c1 antecede o es igual a la cadena c2 y False en caso contrario.
#
c1 != c2 : Devuelve True si la cadena c1 es distinta de la cadena c2 y False en caso contrario.
#

> **Ojo:** Utilizan el orden establecido en el código ASCII.

In [ ]:
'Python' == 'python'
#

False

In [ ]:
'Python' < 'python'
#

True

In [ ]:
'a' > 'Z'
#

True

In [ ]:
'A' >= 'Z'
#

False

In [ ]:
'' < 'Python'
#

True



5. Funciones de cadenas



len(c) : Devuelve el número de caracteres de la cadena c.



min(c) : Devuelve el carácter menor de la cadena c.



max(c) : Devuelve el carácter mayor de la cadena c.



c.upper() : Devuelve la cadena con los mismos caracteres que la cadena c pero en mayúsculas.



c.lower() : Devuelve la cadena con los mismos caracteres que la cadena c pero en minúsculas.



c.title() : Devuelve la cadena con los mismos caracteres que la cadena c con el primer carácter en mayúsculas y el resto en minúsculas.

In [ ]:
c.split(delimitador) : Devuelve la lista formada por las subcadenas que resultan de partir la cadena c usando como delimitador la cadena delimitador. Si no se especifica el delimitador utiliza por defecto el espacio en blanco.
#

In [ ]:
len('Python')
#

6

In [ ]:
min('Python')
#

'P'

In [ ]:
max('Python')
#

'y'

In [ ]:
'Python'.upper()
#

'PYTHON'

In [ ]:
'A,B,C'.split(',')
#
['A', 'B', 'C']
#
'I love Python'.split()
#
['I', 'love', 'Python']
#
6. Cadenas formateadas (format())
#

c.format(valores): Devuelve la cadena c tras sustituir los valores de la secuencia valores en los marcadores de posición de c. Los marcadores de posición se indican mediante llaves {} en la cadena c, y el reemplazo de los valores se puede realizar por posición, indicando en número de orden del valor dentro de las llaves, o por nombre, indicando el nombre del valor, siempre y cuando los valores se pasen con el formato nombre = valor.

In [ ]:
'Un {} vale {} {}'.format('€', 1.12, '$')
#

'Un € vale 1.12 $'

In [ ]:
'Un {2} vale {1} {0}'.format('€', 1.12, '$')
#

'Un $ vale 1.12 €'

In [ ]:
'Un {moneda1} vale {cambio} {moneda2}'.format(moneda1 = '€', cambio = 1.12, moneda2 = '$')
#

'Un € vale 1.12 $'







Los marcadores de posición, a parte de indicar la posición de los valores de reemplazo, pueden indicar también el formato de estos. Para ello se utiliza la siguiente sintaxis:

In [ ]:
{:n} : Alinea el valor a la izquierda rellenando con espacios por la derecha hasta los n caracteres.
#
{:>n} : Alinea el valor a la derecha rellenando con espacios por la izquierda hasta los n caracteres.
#

{:^n} : Alinea el valor en el centro rellenando con espacios por la izquierda y por la derecha hasta los n caracteres.



{:nd} : Formatea el valor como un número entero con n caracteres rellenando con espacios blancos por la izquierda.



{:n.mf} : Formatea el valor como un número real con un tamaño de n caracteres (incluído el separador de decimales) y m cifras decimales, rellenando con espacios blancos por la izquierda.

In [ ]:
'Hoy es {:^10}, mañana {:10} y pasado {:>10}'.format('lunes', 'martes', 'miércoles')
#

'Hoy es   lunes   , mañana martes     y pasado  miércoles'

In [ ]:
'Cantidad {:5d}'.format(12)'
#

'Cantidad    12'

In [ ]:
'Pi vale {:8.4f}'.format(3.141592)
#

'Pi vale   3.1416'







7. Otras funcionalidades de la clase str







Para más información consultar la documentación oficial de python:







https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str